{% extends '@layout/default.html.twig' %}

{% block title %}Alle Zitate{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1><span>Alle Zitate</span></h1>
    </div>


    <div class="row">
        <div class="col-md-12">
            <table id="quoteTable" class="stripe row-border dataTable">
                <thead>
                <tr>
                    <th>
                        Zitat
                    </th>
                    <th>
                        Author
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for quote in quoteList %}
                    <tr>
                        <td>{{ quote.getQuote() }}</td>
                        <td> {{ quote.getAuthor() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script >
$(document).ready(function () {
    $('#quoteTable').DataTable({
        "lengthChange": false
    });
});
</script>
{% endblock %}
