{% extends '@layout/default.html.twig' %}

{% block title %}Wessen Problem ist es?{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1><span>Wessen Problem ist es?</span></h1>
    </div>

    <div class="row">
        <div class="col-md-12">

            <p class="text-center">
                <img src="/images/seahorse.png" width="150px"><br/>
                <strong>Nicht mein Problem!</strong>
                </p>
        </div>
    </div>
{% endblock %}
